*
    // border: solid 1px pink

// 字體
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

// 顏色
@import '@/sass/system_color.sass'

// color
// $default_color: #666666

// .default-color
//     color: $default_color

// input
//     ::placeholder
//         color: red

.modal-mask
    // width: 100vw
    width: 100%
    height: calc(100 * var(--vh))
    background-color: rgba(0, 0, 0, .7)
    top: 0
    left: 0
    position: absolute
    z-index: 9999

body, html 
    padding: 0
    margin: 0
    touch-action: manipulation
    font-size: 10px
    overflow: hidden
    font-family: NotoSansTC, Roboto
    color: blue
    background-color: #e5ceae

    // letter-spacing: 1px
    // background-color: rgba(0,0,0,.02)

// IndexContent.vue
// .index-content
//     .default-top-icon-block
//         width: 2rem
//         height: 2rem
//         .default-top-icon
//             width: 100%
//             height: 100%

// // ProductListFilterRow.vue
// .default-product-list-filter-row
//     .el-input--mini .el-input__inner
//         height: 2rem
//     .el-input__inner
//         // border: solid 1px $default_gray_color
//         background-color: #fff
//         border-radius: 5px
//         font-size: 1.2rem
//         // border: none
//         // border-radius: 0
//         // border-bottom: solid 1px $default_gray_color
//     .el-select .el-input.is-focus .el-input__inner
//         border-color: $default_gray_color
//     .el-select .el-input__inner
//         &:focus
//             border-color: $default_gray_color
// .el-select-dropdown__item.selected
//     // color: #6A8D73 !important
//     color: $deep_green !important

// ProductSpec.vue
// .default-product-spec
//     .default-product-name-block
//         font-size: 1.6rem
//         font-weight: 600
//     .default-product-spec-name-block
//         font-size: 1.4rem
//     .default-spec-option
//         border: solid 1px $default_gray_color
//         border-radius: .5rem
//         padding: .3rem 1rem
//         font-size: 1.2rem
//     .default-number-block
//         padding: .5rem 1.2rem
//         border: solid 1px $default_gray_color
//     .default-operate-icon
//         width: 1.4rem
//         height: 1.4rem
//     .default-number
//         font-size: 1.5rem
//         font-weight: 700
//     .default-confirm-block
//         height: 100%
//         height: 3.5rem
//         padding: .5rem 1.2rem
//         font-size: 1.3rem
//     .default-product-number-text
//         font-size: 1.4rem
//     .default-price-block
//         padding: 1rem 0
//         font-size: 1.4rem

// ProductBasicData.vue
// .default-product-basic-data
//     width: 48%
//     // height: 20rem

// ProductDetailPage.vue
.default-product-detail-page
    .default-more-content-block
        font-size: 1.4rem

// DetailNavRow.vue
.default-detail-nav-row
    // border-bottom: solid 1px $default_gray_color
    .default-nav-route
        font-size: 1.5rem
    // .default-current-route
    //     border-bottom: solid 2px $deep_green
    //     color: $deep_green
    //     transform: scale(1.05)

// CustomerReview.vue
.default-customer-review
    // border-bottom: solid 1px rgba(0,0,0,.05)
    .default-user-avatar
        width: 3.5rem
        height: 3.5rem
    .default-user-name
        font-size: 1.4rem
    .default-post-time
        font-size: 1.2rem

// ProductDescription.vue
.default-product-description
    // border-bottom: solid 1px rgba(0,0,0,.05)
    // padding-bottom: 3rem
    .default-description-text
        font-size: 1.6rem

// CheckoutProcess.vue
// .default-checkout-process
//     padding-top: 2rem
//     .default-process-step-number
//         width: 3rem
//         height: 3rem
//     .default-step-icon
//         width: 1.4rem
//         height: 1.4rem
//         margin-left: 1.5rem

// OrderList.vue
// .default-order-list
//     .default-header-name
//         font-size: 1.4rem
//     .default-operate-icon
//         width: 1.4rem
//         height: 1.4rem
//     .default-order-number
//         font-size: 1.4rem
//     .default-number-edit-block
//         border: solid 1px $default_gray_color
//         height: 2rem
//     .default-list-content-block
//         // border-bottom: solid 1px $default_gray_color
//         padding-bottom: 1rem
//     .default-total-price-block 
//         font-size: 1.4rem
//         padding: 1rem 
//     .default-note-text
//         font-size: 1.5rem
//         font-weight: 800
//     .default-order-note-input-block
//         border: none
//         border-bottom: solid 1px $default_gray_color
//     .default-order-note-input
//         font-size: 1.2rem
//     .default-name-block
//         font-size: 1.4rem
//     .default-price-block
//         font-size: 1.4rem

// CouponPrice.vue
// .default-coupon-price
//     padding: 2rem
//     margin-top: 2rem
//     .default-tag-icon
//         width: 2rem
//         height: 2rem
//     .default-add-coupon-text
//         font-size: 1.4rem
//     .default-total-price-block
//         font-size: 1.4rem
    
// CouponList.vue
// .default-coupon-list
//     font-size: 1.4rem
//     .default-close-coupon-list-icon
//         width: 2.5rem
//         height: 2.5rem
//     .default-coupon-list-header
//         // border-bottom: solid 1px $default_gray_color
//     .default-event-text
//         font-size: 1.6rem
//     .default-conpon-using-time-block
//         font-size: 1.4rem
//     .default-coupon-using-condigion
//         font-size: 1.3rem
//     .default-coupon-name
//         font-size: 1.8rem
//     .default-select-coupon-btn
//         width: 5.5rem
//         height: 3.5rem

// OrderInfomation.vue
// .default-order-infomation
//     font-size: 1.4rem
//     .default-order-sign-up-select-block
//         border: solid 1px $default_gray_color
//         width: 1.2rem
//         height: 1.2rem
//         img
//             width: 100%

// Payment.vue
// .default-payment
//     .default-payment-header
//         font-size: 1.4rem
//     .default-payment-icon
//         widht: 2rem
//         height: 2rem
//     .default-payment-select
//         width: 10rem
//         height: 1.8rem
//         margin-top: 1rem

@media screen and (max-width: 320px)
    body, html 
        font-size: 10px

@media screen and (min-width: 375px)
    body, html 
        font-size: 11.5px

@media screen and (min-width: 768px)
    body, html 
        font-size: 15px

@media screen and (min-width: 900px)
    body, html 
        font-size: 18px
    .default-product-basic-data
        width: 30%

// @media screen and (min-width: 1024px)
//     body, html 
//         font-size: 22px

.v-leave
    opacity: 1
.v-leave-active
    transition: opacity .2s
.v-leave-to
    opacity: 0
.v-enter
    opacity: 0
.v-enter-active
    transition: opacity .2s
.v-enter-to
    opacity: 1

.click-animation 
    cursor: pointer
    &:hover
        transform: scale(1.106)
        opacity: .5
