// // color
// $default_color: #666666
// $default_gray_color: #BCBDC0
// $deep_green: #7A918D
// $white_color: #fff
// $light_green: #70C1B3
// $red_color: #f56b6b

// =================
::placeholder
  color: #9b9b9b

$heading_bgc_black: #333333

.default-black-bgc
  background-color: $heading_bgc_black
.default-black-color
  color: $heading_bgc_black

$color1: #E5CEAE
$color2: #333333
$color3: #f2c47e
$color4: rgb(227, 166, 82)
$color5: #e9c99b
$color6: #a48051

//====================   
// .default-text-color
//     color: $default_color

// .default-gray-color
//     color: $default_gray_color 

// .default-gray-bgc
//     background-color: $default_gray_color
//     color: white

// .default-deep-green-color
//     color: $deep_green

// .default-deep-green-bgc
//     background-color: $deep_green
//     color: white

// .default-light-green-color
//     color: $light_green

// .default-light-green-bgc
//     background-color: $light_green
//     color: white

// .default-red-color
//     color: $red_color

// .default-white-bgc
//     background-color: $white_color

// // 陰影
// .default-shadow
//     box-shadow: 0 2px 5px rgba(0,0,0,.15)

// .default-border-radius
//     border-radius: 5px
